.container {
  display: flex;
  flex-direction: column;
  margin: 0.5em;
  padding-bottom: 6em;
}
.container input {
  width: 100%;
  box-sizing: border-box;
  display: block;
}

.img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 95%;
  max-width: 30em;
  border-radius: 1em;
}

.heading {
  text-align: center;
  letter-spacing: 1.5px;
}

.heading span {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  font-size: large;
  letter-spacing: 8px;
}

.form {
  display: flex;
  flex-direction: column;
}

.input {
  margin: 0.5em 0;
  padding-left: 1.5em;
  padding: 1em;
  border: solid #404040;
  border-radius: 1.1em;
  font-size: large;
}

.input::placeholder {
  color: #404040;
}

.forgotPasswordButton {
  width: fit-content;
  margin: 0.5em;
  border: none;
  background: none;
  font-size: medium;
  color: #404040;
  cursor: pointer;
}

.logInButton {
  width: 100%;
  margin: 1.5em 0;
  background-color: #10069f;
  padding: 0.75em;
  border: none;
  border-radius: 0.75em;
  font-size: large;
  font-weight: bold;
  text-decoration: none;
  text-align: center;
  color: #fff;
  cursor: pointer;
}

.span {
  margin: 0.5em;
}

.returnToRegisterButton {
  width: fit-content;
  margin: 0.5em;
  border: none;
  background: none;
  font-size: medium;
  color: #404040;
  cursor: pointer;
}
