.container {
  display: flex;
  justify-content: space-between;
  font-size: 1em;
}

.logo {
  padding: 8px;
  margin: 8px;
}

.nav {
  padding: 8px;
  margin: 8px;
}

a {
  text-decoration: none;
  margin: 0.75em;
}
